{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
                <div class="book col-md-4">
                    <h2>{{ book.name }}</h2>
                    <p>Автор: {{ book.author }}</p>
                    <p>Дата публикации: {{ book.pub_date|date:"Y-m-d" }}</p>
                </div>
            {% empty %}
                <h5>Книг, опубликованных в указанную дату, не обнаружено</h5>
            {% endfor %}
        </div>
        {% if page.has_previous %}
            <a href="/books/{{ previous_page }}"><{{ previous_page }}</a>
        {% endif %}
        {% if page.has_next %}
            <a href="/books/{{ next_page }}">{{ next_page }}></a>
        {% endif %}

    </div>
{% endblock %}